@charset "UTF-8";
/* 초기화 :브라우저에서 제공하는 것을초기화 할거임 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width:auto;
    padding-top: 38px;
    padding-bottom: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}


.total_content{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: white;
}


/* contentBox 본문 */
.contentBox{
    margin-top: 30px;
    margin-bottom: 100px;
}

/* leftBar */
.site-font-color {
    font-weight: bold;
    line-height: 56px;
    font-size: 20px;
    color: pink;
}
div.container{
   float: left;
    border: 1px solid #666;
    text-align: center;
    line-height: 50px;
    width: 150px;
    display: block;
    padding: 5px 0 5px 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    
}
.menu_item{
    font-size: 15px;
    background-color: pink;
}



.toptitle {
    color: #666;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    overflow: hidden;
    line-height: 25px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    width: 900px;
}

.containerBox{
    margin-left: 50px;
}
body {
    position: relative;
    font-size: 0.75em;
    color: #666;

}

#content_Text {
    width: 900px;
    margin: 20px 0 90px;
    padding:20px;
    line-height: 40px;
    position: relative;
    border: 1px solid #dadada;
}

table {
    width: 100%;
    margin: 0px 0 0px 0;
    padding: 10px 100px 10px 20px;
    border: 5px solid #dadada;
    display: table;
  	border-collapse: separate;
    box-sizing: border-box;
    
}

.site_button {
    margin-bottom: 5px !important;
    color: #444;
    background-color: #f7f7f7;
    display: inline-block;
    min-width: 60px;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    user-select: none;
}

.test{
	border : 1px black;
}

input{
	text-align :center;
	height:8%;
}

.text_1{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:3px solid pink;
}