@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   font-family: sans-serif;
}

.back {
   position: fixed;
   padding: 0;
   margin: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #F44C68;
   animation-name: backdiv;
   animation-duration: 15s;
   animation-iteration-count: infinite;
}

/* 하트 */
.heart {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 1300px;
   background-color: rgb(241, 148, 164);
   height: 50px;
   width: 50px;
   transform: rotate(-45deg);
   animation-name: beat;
   animation-duration: 1s;
   animation-iteration-count: infinite;
}

.heart:after {
   background-color: rgb(241, 148, 164);
   content: "";
   border-radius: 50%;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 0px;
   left: 25px;
}

.heart:before {
   background-color: rgb(241, 148, 164);
   content: "";
   border-radius: 50%;
   position: absolute;
   width: 50px;
   height: 50px;
   top: -25px;
   left: 0px;
}

.heart1 {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: -1300px;
   background-color: rgb(241, 148, 164);
   height: 50px;
   width: 50px;
   transform: rotate(-45deg);
   animation-name: beat;
   animation-duration: 1s;
   animation-iteration-count: infinite;
}

.heart1:after {
   background-color: rgb(241, 148, 164);
   content: "";
   border-radius: 50%;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 0px;
   left: 25px;
}

.heart1:before {
   background-color: rgb(241, 148, 164);
   content: "";
   border-radius: 50%;
   position: absolute;
   width: 50px;
   height: 50px;
   top: -25px;
   left: 0px;
}

@keyframes backdiv {
   50% {
      background: #ffe6f2;
   }

}

@keyframes beat {
   0% {
      transform: scale(1) rotate(-45deg);
   }

   50% {
      transform:
         scale(0.6) rotate(-45deg);
   }
}

/* 가입 폼 */
.loginForm {
   position: absolute;
   width: 400px;
   height: 95%;
   background-color: #FFFFFF;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 15px;
}

.loginForm h2 {
   text-align: center;
   margin: 30px;
}

.join_id {
   border-bottom: 2px solid #adadad;
   margin: 30px;
   padding: 10px 10px;
}

.join_pwd {
   border-bottom: 2px solid #adadad;
   margin: 30px;
   padding: 10px 10px;
}

.join_name {
   border-bottom: 2px solid #adadad;
   margin: 30px;
   padding: 10px 10px;
}

.join_email {
   border-bottom: 2px solid #adadad;
   margin: 30px;
   padding: 10px 10px;
}

.join_phoneno {
   border-bottom: 2px solid #adadad;
   margin: 30px;
   padding: 10px 10px;
}

.id {
   width: 100%;
   border: none;
   outline: none;
   color: #636e72;
   font-size: 16px;
   height: 25px;
   background: none;
}

.pw {
   width: 100%;
   border: none;
   outline: none;
   color: #636e72;
   font-size: 16px;
   height: 25px;
   background: none;
}

.name {
   width: 100%;
   border: none;
   outline: none;
   color: #636e72;
   font-size: 16px;
   height: 25px;
   background: none;
}

.email {
   width: 100%;
   border: none;
   outline: none;
   color: #636e72;
   font-size: 16px;
   height: 25px;
   background: none;
}

.phone {
   width: 100%;
   border: none;
   outline: none;
   color: #636e72;
   font-size: 16px;
   height: 25px;
   background: none;
}

.btn {
   position: relative;
   left: 40%;
   transform: translateX(-50%);
   margin-bottom: 40px;
   width: 80%;
   height: 40px;
   background: linear-gradient(125deg, #eecda3, #ef629f);
   background-position: left;
   background-size: 200%;
   color: white;
   font-weight: bold;
   border: none;
   cursor: pointer;
   transition: 0.4s;
   display: inline;
}

.btn:hover {
   background-position: right;
}

.bottomText {
   text-align: center;
}

/* 라디오 버튼 */
.switch-field {
   display: flex;
   margin-bottom: 36px;
   overflow: hidden;
   margin-left: 31%;
}

.switch-field label {
   background-color: white;
   color: rgba(0, 0, 0, 0.6);
   font-size: 14px;
   line-height: 1;
   text-align: center;
   padding: 8px 16px;
   margin-right: -1px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
   transition: all 0.1s ease-in-out;
}

.switch-field input {
   position: absolute !important;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   width: 1px;
   border: 0;
   overflow: hidden;
}

.switch-field label:hover {
   cursor: pointer;
}

.switch-field input:checked+label {
   background-color: pink;
   box-shadow: none;
}

.switch-field label:first-of-type {
   border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
   border-radius: 0 4px 4px 0;
}